<a href="https://colab.research.google.com/github/PJHSE/class2021Fall/blob/main/%EA%B3%B5%EB%B6%801.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

제일 **처음** 해 보는 코딩입니다.

In [24]:
#변수(variables), 제어문(syntax), 함수 이 3가지가 모든 언어에 공통적으로 들어가는 것.
a = 1
b = 'hello' #이렇게 다양한 변수가 있음. 글자를 표현할 때는 text, string, ''을 써야 함.
a
c = 1.1
print(type(a)) #type은 어떤 타입인지 보여주는 것.
print(type(c))
type(b)

d = [1, 'abc', 2.1] #이렇게 여러가지를 변수로 쓸 수도 있음
type(d)

e = { "a" : "some fruit" , "banana" : "yellow fruit"}

print (b[0]) #특정 정보에 access하는 것.

print (d[0:2]) #파이썬에서는 0으로 시작 0부터 2 하나 전까지

print(type(e)) 

#print(e[0]) 이렇게 하면 에러 뜸

print(e["a"]) #이래서 dict라고 부르는 것.

#여기까지 주요 변수 int, float, string, dict, list
#dict가 다른 이유는, 키워드 표제어에 해당하는 부분으로 access로 하는 것이 특징이기 때문.
#=은 같다는 뜻이 아니라, 오른쪽에 있는 것을 왼쪽에 넣어라 라는 의미.
#그렇다고 1 = 4 이런 게 되는 것은 아님. 변수에는 문자가 있어야 된다. 문자가 앞에.

<class 'int'>
<class 'float'>
h
[1, 'abc']
<class 'dict'>
some fruit

이제 syntax를 배워보자

In [33]:
a = [1, 2, 3, 4]
for i in a:     #구조, 문법을 이해하자.
    print(i)    #indentation을 왜 하냐, for 밑에서 반복되는 것들로 한정짓는 약속이다.
print(i+1)      #이렇게 빠져 나온. 마지막 i로.

1
2
3
4
5

위에서는 a를 받았는데, 난 a를 받지 않고 내가 숫자를 만들겠다. 
for i in range(4) 이런 식으로, range 하면 그 숫자 이전 숫자까지. 4개의 index, 0 1 2 3 이 만들어 짐.
len(x) 함수는 list의 길이를 찾아줌.

In [26]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

string만으로 되어 있는 list.

In [27]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

if에서 알아야 할 것은, 일단 if 밑에 들어가는 것도 indent로 표시
여기서 진짜 같다면 이라는 뜻으로 == 2개를 씀 이것이 진정 equal.
indentation은 grouping.

In [34]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

여기부터 for가 2개 인데, 2중으로 되어있는 for 구조.

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b